.hmrc-responsive-table {
  @media (max-width: 768px) {
    display: none;
  }
}

.hmrc-responsive-list {
  @media (min-width: 768px) {
    display: none;
  }

  .govuk-summary-list__row {
    display: flex;
    justify-content: space-between;
  }

  .govuk-summary-list__key {
    padding-right: 1em;
  }

  :nth-child(4n){
    border-bottom: 3px solid #b1b4b6;
  }
}
